In [1]:
import pandas as pd
import pandas as np
nls97= pd.read_csv('nls_raw.csv')

In [2]:
covidtotals = pd.read_csv('covidtotals.csv', parse_dates=['lastdate'])

In [3]:
nls97.shape

(8984, 89)

In [4]:
print(nls97.columns)

Index(['personid', 'gender', 'birthmonth', 'birthyear',
       'highestgradecompleted', 'maritalstatus', 'childathome',
       'childnotathome', 'wageincome', 'weeklyhrscomputer', 'weeklyhrstv',
       'nightlyhrssleep', 'satverbal', 'satmath', 'gpaoverall', 'gpaenglish',
       'gpamath', 'gpascience', 'highestdegree', 'govprovidejobs',
       'govpricecontrols', 'govhealthcare', 'govelderliving', 'govindhelp',
       'govunemp', 'govincomediff', 'govcollegefinance', 'govdecenthousing',
       'govprotectenvironment', 'weeksworked00', 'weeksworked01',
       'weeksworked02', 'weeksworked03', 'weeksworked04', 'weeksworked05',
       'weeksworked06', 'weeksworked07', 'weeksworked08', 'weeksworked09',
       'weeksworked10', 'weeksworked11', 'weeksworked12', 'weeksworked13',
       'weeksworked14', 'weeksworked15', 'weeksworked16', 'weeksworked17',
       'colenrfeb97', 'colenroct97', 'colenrfeb98', 'colenroct98',
       'colenrfeb99', 'colenroct99', 'colenrfeb00', 'colenroct00',
       'colenrfeb01', 'colenroct01', 'colenrfeb02', 'colenroct02',
       'colenrfeb03', 'colenroct03', 'colenrfeb04', 'colenroct04',
       'colenrfeb05', 'colenroct05', 'colenrfeb06', 'colenroct06',
       'colenrfeb07', 'colenroct07', 'colenrfeb08', 'colenroct08',
       'colenrfeb09', 'colenroct09', 'colenrfeb10', 'colenroct10',
       'colenrfeb11', 'colenroct11', 'colenrfeb12', 'colenroct12',
       'colenrfeb13', 'colenroct13', 'colenrfeb14', 'colenroct14',
       'colenrfeb15', 'colenroct15', 'colenrfeb16', 'colenroct16',
       'colenrfeb17', 'colenroct17'],
      dtype='object')

In [5]:
nls97_year = nls97.groupby('highestgradecompleted')['gender'].count()
print(nls97_year)

highestgradecompleted
5.0        1
6.0       16
7.0       31
8.0      198
9.0      292
10.0     329
11.0     364
12.0    1389
13.0     538
14.0     750
15.0     397
16.0    1016
17.0     388
18.0     407
19.0     203
20.0     333
95.0      11
Name: gender, dtype: int64

In [6]:
nls97.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Data columns (total 89 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   personid               8984 non-null   int64
 1   gender                 8984 non-null   object
 2   birthmonth             8984 non-null   int64
 3   birthyear              8984 non-null   int64
 4   highestgradecompleted  6663 non-null   float64
 5   maritalstatus          6672 non-null   object
 6   childathome            4791 non-null   float64
 7   childnotathome         4791 non-null   float64
 8   wageincome             5091 non-null   float64
 9   weeklyhrscomputer      6710 non-null   object
 10  weeklyhrstv            6711 non-null   object
 11  nightlyhrssleep        6706 non-null   float64
 12  satverbal              1406 non-null   float64
 13  satmath                1407 non-null   float64
 14  gpaoverall             6004 non-null   float64
 15  gpaenglish             5798 non-null   float64
 16  gpamath                5766 non-null   float64
 17  gpascience             5684 non-null   float64
 18  highestdegree          8953 non-null   object
 19  govprovidejobs         1833 non-null   object
 20  govpricecontrols       1859 non-null   object
 21  govhealthcare          1874 non-null   object
 22  govelderliving         1872 non-null   object
 23  govindhelp             1815 non-null   object
 24  govunemp               1811 non-null   object
 25  govincomediff          1775 non-null   object
 26  govcollegefinance      1875 non-null   object
 27  govdecenthousing       1847 non-null   object
 28  govprotectenvironment  1860 non-null   object
 29  weeksworked00          8603 non-null   float64
 30  weeksworked01          8564 non-null   float64
 31  weeksworked02          8556 non-null   float64
 32  weeksworked03          8490 non-null   float64
 33  weeksworked04          8458 non-null   float64
 34  weeksworked05          8403 non-null   float64
 35  weeksworked06          8340 non-null   float64
 36  weeksworked07          8272 non-null   float64
 37  weeksworked08          8186 non-null   float64
 38  weeksworked09          8146 non-null   float64
 39  weeksworked10          8054 non-null   float64
 40  weeksworked11          7968 non-null   float64
 41  weeksworked12          7747 non-null   float64
 42  weeksworked13          7680 non-null   float64
 43  weeksworked14          7612 non-null   float64
 44  weeksworked15          7389 non-null   float64
 45  weeksworked16          7068 non-null   float64
 46  weeksworked17          6670 non-null   float64
 47  colenrfeb97            1250 non-null   object
 48  colenroct97            8501 non-null   object
 49  colenrfeb98            8501 non-null   object
 50  colenroct98            8888 non-null   object
 51  colenrfeb99            8865 non-null   object
 52  colenroct99            8851 non-null   object
 53  colenrfeb00            8820 non-null   object
 54  colenroct00            8805 non-null   object
 55  colenrfeb01            8786 non-null   object
 56  colenroct01            8758 non-null   object
 57  colenrfeb02            8732 non-null   object
 58  colenroct02            8698 non-null   object
 59  colenrfeb03            8658 non-null   object
 60  colenroct03            8622 non-null   object
 61  colenrfeb04            8578 non-null   object
 62  colenroct04            8546 non-null   object
 63  colenrfeb05            8508 non-null   object
 64  colenroct05            8471 non-null   object
 65  colenrfeb06            8426 non-null   object
 66  colenroct06            8407 non-null   object
 67  colenrfeb07            8352 non-null   object
 68  colenroct07            8331 non-null   object
 69  colenrfeb08            8289 non-null   object
 70  colenroct08            8280 non-null   object
 71  colenrfeb09            8236 non-null   object
 72  colenroct09            8193 non-null   object
 73  colenrfeb10            8116 non-null   object
 74  colenroct10            8091 non-null   object
 75  colenrfeb11            8037 non-null   object
 76  colenroct11            7972 non-null   object
 77  colenrfeb12            7794 non-null   object
 78  colenroct12            7754 non-null   object
 79  colenrfeb13            7754 non-null   object
 80  colenroct13            7754 non-null   object
 81  colenrfeb14            7624 non-null   object
 82  colenroct14            7469 non-null   object
 83  colenrfeb15            7469 non-null   object
 84  colenroct15            7469 non-null   object
 85  colenrfeb16            7036 non-null   object
 86  colenroct16            6733 non-null   object
 87  colenrfeb17            6733 non-null   object
 88  colenroct17            6734 non-null   object
dtypes: float64(29), int64(3), object(57)
memory usage: 6.1+ MB

In [7]:
nls97.head(2).T

                                     0                1
personid                        100061           100139
gender                          Female             Male
birthmonth                           5                9
birthyear                         1980             1983
highestgradecompleted             13.0             12.0
...                                ...              ...
colenroct15            1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled

[89 rows x 2 columns]

In [8]:
nls97.set_index('personid', inplace=True)

In [9]:
nls97_gender = nls97['gender']
print(nls97_gender)

personid
100061    Female
100139      Male
100284      Male
100292      Male
100583      Male
           ...
999291    Female
999406      Male
999543    Female
999698    Female
999963    Female
Name: gender, Length: 8984, dtype: object